<div class="card bg-dark text-white">
    <img [src]="countrie.flags.svg" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title">{{countrie.name.common}}</h1>
      <p class="card-text fs-3">Nombre oficial: {{countrie.name.official}}</p>
      <p class="card-text fs-3">Capital: {{countrie.capital}}</p>
      <p class="card-text fs-3">Idioma: {{l}}</p>
      <p class="card-text fs-3">Region: {{countrie.region}}</p>
      <p class="card-text fs-3">Divisa: {{d}}</p>
      <p class="card-text fs-3">Población: {{countrie.population}} personas</p>
      <p class="card-text fs-3">Zonas horarias: {{countrie.timezones}}</p>
      <p class="card-text fs-3">Latitud: {{countrie.latlng}}</p>
      <p class="card-text fs-3">Area: {{countrie.area}} km²</p>
    </div>
</div>
